.header {
  min-height: 100vh;
  height: 700px;
  background-image: url("../img/header_fill.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  padding-top: 100px;
}
.top-container {
  min-height: calc(100vh - 200px);
}
.logo-top {
  height: 65px;
  max-width: 318px;
  margin-bottom: 82px;
}
.bottom {
  padding-top: 141px;
}
.bottom > .content {
  margin: auto;
  max-width: 1368px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom > .content > .logo {
  height: 47px;
  width: 228px;
}
.bottom > .content > .links {
  width: 576px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom > .content > .links > a {
  color: #12333d;
  font-family: "ballinger", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}
.bottom > .content > .social {
  display: flex;
  justify-content: space-between;
  width: 175px;
}
.bottom > .content > .social > a {
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #fff;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.11);
  border-radius: 50px;
}
.bottom > .content > .social > a > img {
  height: 22px;
  width: 22px;
}
.bottom > .content > .social > a:hover {
  cursor: pointer;
}
.bottom > .content > .social > a:nth-child(1) {
  background-image: url("../img/icon_facebook.svg");
}
.bottom > .content > .social > a:nth-child(1):hover {
  background-image: url("../img/icon_facebook_white.svg");
}
.bottom > .content > .social > a:nth-child(2) {
  background-image: url("../img/icon_twitter.svg");
}
.bottom > .content > .social > a:nth-child(2):hover {
  background-image: url("../img/icon_twitter_white.svg");
}
.bottom > .content > .social > a:nth-child(3) {
  background-image: url("../img/icon_instagram.svg");
}
.bottom > .content > .social > a:nth-child(3):hover {
  background-image: url("../img/icon_instagram_white.svg");
}
.bottom > .content > .social > a:nth-child(4) {
  background-image: url("../img/icon_youtube.svg");
}
.bottom > .content > .social > a:nth-child(4):hover {
  background-image: url("../img/icon_youtube_white.svg");
}
.bottom > .copyright {
  margin: auto;
  padding: 52px 0 37px 0;
  max-width: 1368px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom > .copyright > p {
  width: 154px;
  opacity: 0.6;
  color: #005766;
  font-family: "ballinger", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}
.bottom > .copyright > a {
  width: 102px;
  opacity: 0.6;
  color: #005766;
  font-family: "ballinger", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}
.top-container > h1 {
  color: #fff;
  font-family: "aglet-sans", sans-serif;
  font-size: 47px;
  font-weight: 300;
  letter-spacing: 0.14px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 40.5px;
}
.login-form {
  margin: auto;
  max-width: 520px;
}
.login-form > form > div > div {
  margin-bottom: 16px;
}
.login-form > form > div > div .form-control {
  height: 61px;
  width: 498px;
  max-width: 100%;
  background: none;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.login-form > form > div > div .form-control::placeholder {
  opacity: 0.7;
  color: #fff;
}
.helper-text {
  font-family: "ballinger", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}
.btn-login {
  margin-right: 10px;
  margin-top: 32.5px;
  box-sizing: border-box;
  height: 61px;
  width: 132px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  color: #f85708;
  font-family: "ballinger", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
}
.btn-register {
  display: inline-flex;
  margin-top: 32.5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  box-sizing: border-box;
  height: 61px;
  width: 182px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-family: "ballinger", sans-serif;
  justify-content: center;
  align-items: center;
}
.btn-register:hover, .btn-register:active, .btn-register:focus {
  color: #f85708 !important;
}
@media (max-width: 1368px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer .bottom > .content > .links {
    width: 500px;
  }
}
@media (max-width: 991.98px) {
  .navbar-collapse {
    position: fixed;
    top: 0px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: #f85708 !important;
  }
  .navbar-collapse > .mobile-nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 19px 4px;
    margin-bottom: 20px;
  }
  .navbar-collapse > .mobile-nav-header > div > img {
    min-width: 130px;
    max-width: 130px;
  }
  .navbar-collapse > .mobile-nav-header > button > img {
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
  }
  .navbar-collapse.collapsing {
    height: 100%;
    left: -100%;
    transition: left 300ms ease-in-out;
  }
  .navbar-collapse.show {
    height: 100%;
    left: 0;
    transition: left 400ms ease-in-out;
  }
  .navbar-collapse > .navbar-nav > .nav-item {
    margin-bottom: 10px;
  }
  .navbar-collapse > .navbar-nav > .nav-item > a {
    color: #fff;
    font-family: "ballinger", sans-serif;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: center;
  }
  .navbar-collapse > .social {
    margin: 20px auto 0px auto;
    display: flex;
    justify-content: space-between;
    width: 175px;
  }
  .navbar-collapse > .social > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50px;
  }
  .navbar-collapse > .social > div > img {
    height: 22px;
    width: 22px;
    color: #fff;
  }
  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 400ms ease-in;
  }
  .bottom > .content {
    flex-direction: column;
  }
  .bottom > .content > .links {
    margin-top: 20px;
    flex-direction: column;
    width: inherit !important;
    justify-content: center;
    align-items: center;
  }
  .bottom > .content > .links > a {
    margin-bottom: 10px;
  }
  .bottom > .content > .social {
    margin-top: 38px;
  }
  .bottom > .copyright {
    flex-direction: column;
  }
  .bottom > .copyright > p {
    margin-bottom: 5px;
  }
}
@media (max-width: 575.98px) {
  .logo-top {
    height: 65px;
    max-width: 250px;
    margin-bottom: 30px;
  }
  .top-container > h1 {
    color: #fff;
    font-family: "aglet-sans", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40.5px;
    font-size: 42px;
    width: inherit;
    height: auto;
    line-height: 42px;
    letter-spacing: 0.13px;
  }
  .btn-login {
    margin-top: 10px;
  }
  .btn-register {
    margin-top: 10px;
  }
}
@media (max-width: 358px) {
  .header {
    padding-top: 60px;
  }
  .btn-login {
    display: block;
    width: 100%;
  }
  .btn-register {
    display: flex;
    width: 100%;
  }
}
