

.header {
  min-height: 100vh;
  height: 700px;
  background-image: url("../img/header_fill.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  padding-top: 100px;
}

.top-container {
  min-height: calc(100vh - 200px);
}

.logo-top {
  height: 65px;
  max-width: 318px;
  margin-bottom: 82px;
}

.bottom {
  padding-top: 141px;
  & > .content {
    & > .logo {
      height: 47px;
      width: 228px;
    }
    margin: auto;
    max-width: 1368px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > .links {
      width: 576px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & > a {
        color: #12333D;
        font-family: "ballinger", sans-serif;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
      }
    }
    & > .social {
      display: flex;
      justify-content: space-between;
      width: 175px;
      & > a {
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background-color: #FFFFFF;
        box-shadow: 0 3px 16px 0 rgba(0,0,0,0.11);
        border-radius: 50px;
        & > img {
          height: 22px;
          width: 22px;
        }
        &:hover {
          cursor: pointer;
        }
        &:nth-child(1) {
          background-image: url("../img/icon_facebook.svg");
          &:hover {
            background-image: url("../img/icon_facebook_white.svg");
          }
        }

        &:nth-child(2) {
          background-image: url("../img/icon_twitter.svg");
          &:hover {
            background-image: url("../img/icon_twitter_white.svg");
          }
        }
        &:nth-child(3) {
          background-image: url("../img/icon_instagram.svg");
          &:hover {
            background-image: url("../img/icon_instagram_white.svg");
          }
        }
        &:nth-child(4) {
          background-image: url("../img/icon_youtube.svg");
          &:hover {
            background-image: url("../img/icon_youtube_white.svg");
          }
        }
      }
    }
  }
  & > .copyright {
    margin: auto;
    padding: 52px 0 37px 0;
    max-width: 1368px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > p {
      width: 154px;
      opacity: 0.6;
      color: #005766;
      font-family: "ballinger", sans-serif;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
    }
    & > a {
      width: 102px;
      opacity: 0.6;
       color: #005766;
      font-family: "ballinger", sans-serif;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
    }
  }
}

.top-container {
  & > h1 {
    color: #FFFFFF;
    font-family: "aglet-sans", sans-serif;
    font-size: 47px;
    font-weight: 300;
    letter-spacing: 0.14px;
    line-height: 55px;
    text-align: center;
    margin-bottom: 40.5px;
  }
}


.login-form {
  margin: auto;
  max-width: 520px;
  & > form > div > div {
    margin-bottom: 16px;
    .form-control {
      height: 61px;
      width: 498px;
      max-width: 100%;
      background: none;
      border-radius: 10px;
      color: #fff;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      &::placeholder {
        opacity: 0.7;
        color: #FFFFFF;
      }
    }
  }
}


.helper-text {
  font-family: "ballinger",sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}
.btn-login {
  margin-right: 10px;
  margin-top: 32.5px;
  box-sizing: border-box;
  height: 61px;
  width: 132px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: #F85708;
  font-family: "ballinger", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
}

.btn-register {
  display: inline-flex;
  margin-top: 32.5px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  box-sizing: border-box;
  height: 61px;
  width: 182px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  font-family: "ballinger", sans-serif;
  justify-content: center;
  align-items: center;
  &:hover, &:active, &:focus {
    color: #F85708 !important;
  }
}

@media (max-width: 1368px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
    .bottom {
      & > .content {
        & > .links {
          width: 500px;
        }
      }
    }
  }
}


@media (max-width: 991.98px) {
  .navbar-collapse {
    position: fixed;
    top: 0px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: #F85708 !important;



    & > .mobile-nav-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 19px 4px;
      margin-bottom: 20px;
      & > div {
        & > img {
          min-width: 130px;
          max-width: 130px;
        }
      }
      & > button {
        & > img {
          width: 16px;
          height: 16px;
          transform: rotate(45deg);
        }
      }
    }

    &.collapsing {
      height: 100%;
      left: -100%;
      transition: left 300ms ease-in-out;
    }

    &.show {
      //display: block !important;
      height: 100%;
      left: 0;
      transition: left 400ms ease-in-out;
    }

    & > .navbar-nav {
      & > .nav-item {
        margin-bottom: 10px;
      }
      & > .nav-item > a {
        color: #FFFFFF;
        font-family: "ballinger", sans-serif;
        font-size: 21px;
        letter-spacing: 0;
        line-height: 30px;
        text-align: center;

      }


    }

    & > .social {
      margin: 20px auto 0px auto;
      display: flex;
      justify-content: space-between;
      width: 175px;
      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background-color: #FFFFFF;
        border-radius: 50px;
        & > img {
          height: 22px;
          width: 22px;
          color: #fff;
        }
      }
    }
  }
  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 400ms ease-in;
  }

  .bottom {
    & > .content {
      flex-direction: column;
      & > .links {
        margin-top: 20px;
        flex-direction: column;
        width: inherit !important;
        justify-content: center;
        align-items: center;
        & > a {
          margin-bottom: 10px;
        }
      }
      & > .social {
        margin-top: 38px;
      }
    }
    & > .copyright {
      flex-direction: column;
      & > p {
        margin-bottom: 5px;
      }
    }
  }

}


@media (max-width: 575.98px) {

  .logo-top {
    height: 65px;
    max-width: 250px;
    margin-bottom: 30px;
  }
  .top-container {
    & > h1 {
      color: #FFFFFF;
      font-family: "aglet-sans", sans-serif;
      font-weight: 300;
      text-align: center;
      margin-bottom: 40.5px;
      font-size: 42px;
      width: inherit;
      height: auto;
      line-height: 42px;
      letter-spacing: 0.13px;
    }
  }

  .btn-login {
    margin-top: 10px;
  }
  .btn-register {
    margin-top: 10px;
  }
}


@media (max-width: 358px) {
  .header {
    padding-top: 60px;
  }
  .btn-login {
    display: block;
    width: 100%;
  }

  .btn-register {
    display: flex;
    width: 100%;
  }
}
